*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainConteiner{
  padding: 15px;
}
.inputNumber{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputNumber>input{
    margin-left: 10px;
}

label{
    font-size: 17px;
}